@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* .main-section {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("img/business-2\ \(2\).jpg") rgba(0, 0, 0, 0.672);
    background-size: cover;
    background-blend-mode: color;
}

.navbar {
    width: 85%;
    height: 10%;
    margin: 2% auto;
}

.navbar-logo {
    float: left;
    width: 15%;
    height: 100%;
}

.navbar-logo img {
    width: 136px;
    height: 36px;
}
.navbar-links {
   float: right; 
   width: 45%;
   height: 100%;
}

.navbar-links ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 8%;
}
.navbar-links ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-links ul li button {
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}


.header-content {
    width: 70%;
    height: 40%;
    margin: 13% auto;
    text-align: center;
    padding-top: 5%;
    color: white;
}

.header-content p {
    margin: 2% 0;
    font-size: 50px;
}

.header-content button {
    background:  #4caf50;
    color: white;
    border: none;
    border-radius: 3%;
    padding: 15px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 1s;
}

.header-content button:hover {
    background: white;
    color: black;
    cursor: pointer;
} */

/* body {
    height: 1000px;
} */
/* 
.gray {
    width: 100px;
    height: 100px;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}


.blue {
    width: 200px;
    height: 200px;
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}


.yellow {
    width:300px;
    height: 300px;
    background: yellow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
} */


/* .animation {
    width: 300px;
    height: 300px;
    background: blue;
    margin: 100px auto;
    animation: move 1s infinite;
}


@keyframes move {
    10% {background: red;scale: 2 2;}
    30% {background: gray;rotate: 360deg;}
    50% {background: yellow;rotate: -360deg;}
    70% {background: green;transform: skew(50deg);}
    90% {background: pink;transform: translate(100px,100px);}
    100% {background: black;scale: 0.5 0.5;}
} */


/* .rounded {
    width: 20px;
    height: 35px;
    margin: 100px auto;
    border-radius: 30%;
    border: 1px solid black;
    position: relative;
}

.circle {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
    transform: translate(-50%);
    animation: topandbottom 2s infinite;
}

@keyframes topandbottom {
    from {top:20%;}
    to {top:70%;opacity: 0;}
} */



/* .typing {
    overflow: hidden;
    text-wrap: nowrap;
    width: 0;
    height: 70px;
    margin: 100px auto;
    font-size: 60px;
    animation: typing 1s infinite;
    border-right: 2px solid black;
}

@keyframes typing {
    from {width: 0;}
    to {width: 440px;}
} */